/*------------------------- global reset*/
/**{margin:0;padding:0;box-sizing: border-box;}*/
body{
    background-color: white;
    min-height:100%;
    width: 100%;
    letter-spacing: 1px;
    overflow-x:hidden;
    font-family: 'Microsoft Yahei',"Times New Roman",Georgia,Serif;
    /*'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif !important*/
}
a{
    text-decoration:none;color:white;
}
a:hover{
    text-decoration:none !important;
}
@media screen and (max-width: 960px) {
    body{
        background-color: #f2f3f8;
    }
}

 /* global css */
.no-bor{
    border:none !important;
}
.fl-left{ float:left;}
.fl-right{ float:right;}
.clearfix{overflow:hidden;_zoom:1;}
.hvr-overline-from-center:before{
    background-color: #fff !important;top:-1px !important;
}
/*----------------------global top*/
.top-warp{
    padding-top: 30px;
    width:960px;height:100%;
    margin:0 auto;position:relative;overflow:visible;
    background:transparent url('../img/logo.png')  no-repeat 20px 40px;
    background-size: auto 65px;
    transition:all .2s ease;
}

.top-fixed{
    position:fixed;top:0;
    z-index:10;
    width: 100%;height:120px;overflow:visible;
}
.top-warp:hover{
    background-size: auto 70px;
    background-position: 10px 35px;
}
.top-fixed a{
    display:inline-block;float:right;
    width:100px;padding-top: 20px;
    line-height:20px;
    text-align: center;
    color:white !important;
    cursor: pointer;
}
@media screen and (max-width: 960px) {
    #logo {
        display:none;
    }
    .top-fixed{
        display:none;
    }
}

 /*----------------------global media */
.phone-button{
    display:none;
}
@media screen and (max-width: 960px) {
.banner-button{
    display:none;
}
.phone-button{
    display:block;
    position:fixed;
    z-index:27;
    height:10px;
    width:10px;
    background-color: white;
    border-radius: 50%;
}
.phone-button1{
    right:10px;
    top:10px;
}
.phone-button2{
    right:25px;
    top:10px;
}
.phone-button3{
    right:40px;
    top:10px;
}
.zhezhao{
    display:none;
    position:fixed;
    z-index:25;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.6)
}
.phone-button-group{
    display:none;
    z-index:30;
    height:100%;
    width:150px;
    position:fixed;
    right:0;top: 0;
    background-color:rgba(0,0,0,0.8);
    text-align: center;

}
.phone-button-group a{
    text-align: center;
    height:60px;
    display:block;
    line-height:60px;
    color:white;
}
}
 /*-------------------------- global banner*/
.banner-button{
    height:60px;
    width:100%;
    position:relative;
    bottom:50px;
}
.banner-button ul{
    width:100%;
    text-align: center;
}
.phone-button-group{
    display:none;
}
.banner-button ul li{
    width:40px;
    height:10px;
    background-color: rgba(255,255,255,0.4);
    float:right;
    margin-right: 20px;
}
.banner-wrap {
    position: relative;
    overflow: hidden;
}
.banner-wrap>ul {
    position: absolute;
    top: 0;
}
.banner-wrap>ul li{
    width: 100%;
}
.banner-wrap>ul li img{
    width: 100%;height: 100%;
}
.banner-nav{
    position:absolute;
    right:.5em;
    top:20%;
    width:1em;
}
.banner-nav>ul{
    position:absolute;
    height:auto;
}
.banner-nav>ul>li{
    cursor:pointer;
    border-radius: 50px;
    margin-bottom: .5em;
    width: .8em;height: .8em !important;
    background-color: rgba(0,0,0,.4);
}
.banner-nav>ul>li:hover,.banner-nav>ul>li.hover{
    background-color: rgba(255,255,255,.6);
}
@media screen and (max-width: 960px){
    .banner-nav{ display:none; }
}
/*-----------------------global footer*/
.index-footer{
    background-color: #333333;
    width: 100%;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    color :rgba(211,211,211,0.6);
}
.index-footer div{
    padding-left:1em;
    padding-right:1em;
}
.index-footer-hr{
    width:960px;height:2px;
    margin: 0 auto;
    background-color: rgba(211,211,211,0.2);
    border-radius: 5px;
}
.index-footer-phone{
    padding-top: 3em;
    width:100%;
}
.index-footer-describe{
    color:rgba(255,255,255,0.9);padding-top:1.5em;
    font-size: 16px;line-height: 2em;
}
.index-footer-copyright{
    font-size: 12px;line-height: 1.5em;
    padding-top: 0.5em;padding-bottom: 3em;
}
@media screen and (max-width: 960px){
.index-footer{}
.index-footer-hr{
    width: 100% !important;
}
.index-footer-copyright{
    line-height: 30px;
}
}


/*---------------------- about.html */
.about{
    background-color: white;
    color:rgba(0,0,0,.8);
}
.about .mid-top{
     color:rgba(255,255,255,1);
     margin-top: -2px;
}
/*.about-top{
    width: 100%;height:30%;min-height: 400px;
    background: transparent url('../img/go_top.jpg') no-repeat center top;
    background-size: cover;
}*/
.about-mid{
    /*font-weight: 600;*/
    width: 960px;margin: 0 auto;
    /*border-radius: 50px 50px 0 0;*/
    padding: 0;
    position:relative;
    margin-top: -180px;
}
.about-mid .mid-top{
    height:60px;
    line-height: 60px;
    padding: 0 8%;
    background-color: white;
    overflow:hidden;
}
.about-mid .hr{
    height:20px;
    background-color: transparent;//rgba(0,0,0,.1);
    /*margin: 20px 0 30px;*/
}
.about .mid-article{
    line-height:2em;
    padding: 0 8% 5px ;
}
.about .mid-ft{
    border-radius: 0 0 50px 50px;
    margin-top:2em;
    margin-bottom:8em;
    padding: 2em 6em 4em;
    color:white;
    background-color: #f2c667;
}
.about  h1{
    box-sizing:border-box;
    padding: 30px 8% 5px ;
    height: 100px;
    color:rgba(0,0,0,0.7);
    overflow:hidden;
    background-color: white;
    text-align: center;
    font-weight: 300;
    line-height: 1.5em;
}
@media screen and (max-width: 960px) {
    .about .mid-top a{
        /*color:rgba(0,0,0,.4);*/
    }
    .about>img{display:none;}
    .about-top{
        min-height:225px;
    }
    .about-mid{
        width:100%;
        margin-top: 0;
    }
    .about-mid .mid-top{
        background: transparent url('../img/go_top.jpg') no-repeat center top;
    }
    .about .hr{
        display:none;
    }
    .about .mid-ft{
        padding: 2em;
    }
    /*.about .phone-button{
        background-color: rgba(36,36,36,0.5) !important;
    }*/
}

/* --------------contact.html  */
.contact{
    /*background:rgba(250,155,55,1) url('../img/con-top.jpg') no-repeat center top;
    height:100%;
    background-size: 100% 300px*/
}
.contact-top{
    /*width: 100%;height:30%;min-height: 300px;*/
    /*background: transparent url('../img/con-text1.png') no-repeat center bottom;
    background-size: 35% auto;*/
}
.contact-phone-top{display:none}
@media screen and (max-width: 960px) {
.contact-top{
    display:none;
}
.contact{
    background-size: 100% 200px;
}
.contact-top{
    display:none !important;
}
/*.contact-phone-top{display:block !important;}*/
}

.contact-mid{
    background-color:rgba(250,155,55,1);
    /*min-height: 60%;*/
}
.contact-mid .mid-con>center>img{
    width:55%;
    margin:0 auto 3em;
    height: auto;
}
.contact-mid .mid-con{
    width:960px;margin:0 auto;
    padding: 2em 0 11em;
}
.contact-mid .mid-con div{
    float:left;
    width:25%;text-align: center;
    height:90px;
}
.contact-mid .mid-con>div>center{
    display:block;margin-bottom: 2em;
    border-left: solid 1px rgba(20,20,20,0.1);
}
.contact-mid .mid-con div img{
    max-width:50px;
}
.contact-mid .mid-con div span{
    font-size: .8em;
    letter-spacing: -1px;
    line-height: 2em;
    color:rgba(0,0,0,0.7);
}

@media screen and (max-width: 960px){
.contact-mid{
  /*background: transparent url('../img/con-text1.png') no-repeat center 4em;*/
  width: 100%;margin:0 auto;
  /*background-size: 60% auto;*/
  /*padding-top: 5em;*/
  padding-bottom: 4em;
}
.contact-mid .mid-con{
    width:100%;
    text-align: center;
    padding: 0;margin: 0;
}
.contact-mid .mid-con div{
    padding-bottom: 1.5em;
    float:none;
    width: 80%;height:auto;
    margin: 0 10%;
}
.contact-mid .mid-con div center{
    border-left: none;
    margin-bottom: 0;
}
.contact-mid .mid-con div span{
    font-size: 1em;
}
}

/*---------------show.html  */
body.show{
    background-color: white;
}
@media screen and (max-width: 1200px){
.index-mid-warp{
    background-image: none !important;
}
}
.index-mid-warp{
    width:100%;height:auto;
    background: url('../img/index_l.png') no-repeat left 25%,
    url('../img/index_r.png') no-repeat right 40%;
    background-color: white;
}
.index-mid{
    width:960px;margin:35px auto 30px;height:auto;
    box-sizing:content-box;
    font-size: 0;
    /*background: url('../img/index_l.png') no-repeat -100% 25%,
    url('../img/index_r.png') no-repeat right 40%;*/
}
.index-mid2{
    margin:20px auto 70px !important;
}
.index-mid2 img{
    width:80%!important;
    margin:0 10% !important;
}
.index-mid3{
}
.index-mid a{
    font-size: 16px;
    color:rgba(0,0,0,.8);
    width:16.66%;float:left;
    text-decoration: none;
    height:auto;
    display:inline-block;text-align: center;
}
.index-mid a img{
    display:block;margin:0 auto 20px;
}
.a-show{color:#b2ded5;}
.a-news{color:#d2bba9;}
.a-about{color:#a5bccc;}
.a-build{color:#dbbcc5;}
.a-hand{color:#c9d0a5;}
.a-contact{color:#a0cdd4;}
@media screen and (max-width: 960px){
.index-mid{ width:100%;height:auto;}
.index-mid a{width:33.3%;float:left;}
.index-mid3 a{padding-bottom:2em !important;}
.index-mid a img{
}
.index-mid2 a img{
    width:100% !important;
    margin:0 !important;
}
}
@media screen and (max-width: 360px){
.index-mid a{width:49%}
.index-mid3 a{padding-bottom:1em !important;}
}



/*---------------------- news.html */
body.news{

}
.news-mid{
    width:960px;
    margin: 0 auto;
}
.news-mid .mid-con{
    width:100%;
    padding: 3em 0 6em;
}
.news-mid .mid-con .dot{
    margin-right: 2em;
    background-color: white;
    border-radius: 50px;
    display:inline-block;
    width:.7em;height:.7em;
    line-height: 2em;
}
.news-mid .mid-con>div{
    margin: 0.6em 0;
    padding: 1em 3em 1em 6em;
    color:white;
    line-height: 2em;
    position:relative;
}
.news-mid .mid-con>div:before{
    content:'â—';
    position:absolute;
    line-height: 1.5em;
    left:2.5em;
    padding-right: 2em;
    color: white;
    font-size: 1.2em;
}
.news-mid .t1{
    background-color: rgba(234,126,61,1);
    animation-delay:2s;
    -webkit-animation-delay:2s;
}
.news-mid .t2{
    background-color: rgba(234,126,61,.8);
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}
.news-mid .t3{
    background-color: rgba(234,126,61,.7);
    animation-delay:1s;
    -webkit-animation-delay:1s;
}
.news-mid .t4{
    background-color: rgba(234,126,61,.65);
    animation-delay:.5s;
    -webkit-animation-delay:.5s;
}
.news-mid .mid-con div span{

}

@media screen and (max-width: 960px){
.news-mid{
    width:100%;
}
.news-mid .mid-con{
    padding:0;
}
.news-mid .mid-con>div{
    /*animation-play-state: paused;
    -webkit-animation-play-state: paused;*/
    margin: 0;
    padding: 1em 2em;/* 1em 4em;*/
}
.news-mid .mid-con>div:before{
    left:1.5em;
    content:'';
}
}

/*----------------------product.html*/
.product{
    background-color: #eee;
}
.product-mid{
}
.product-mid .mid-con{
    margin-left: -30px;
    position:relative;
    width : 960px;height:auto;
    margin: 30px auto 100px;
    overflow-y: visible;
    /*color:white;*/
}
.product .top-text{
    background-color: rgba(0,0,0,.4);
    color:white;
    width:100%;
    height:200px;
    overflow:hidden;
    border:1px rgba(255,255,255,.6) solid;
    box-shadow:0px 2px 15px rgba(255,255,255,.6);
    border-radius: 25px;
    top:-280px;left:0;
    position:absolute;
    font-size: 10px;
    padding:.5em 2em;
}
.product .top-text h1{
    font-size: 5em;
    line-height: 2em;
    text-align: center;
    color:white;
    font-family: sans-serif;
}

.product .mid-text{
    padding:30px 65px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: -20px top;
    position:relative;
}
.product .mid-text h3{
    line-height: 3em;
    font-size: 2em;
}
.product .mid-text img{
    position:absolute;
    left:-45px;
    top:43px;
}
.product .mid-text4{
    padding-bottom: 15em;
}
@media screen and (max-width: 960px){
.product-mid .mid-con{
    margin:0;width:100%;
}
.product .top-text{
    top:0px;
    position:relative;
    background-color:rgba(255,255,255,.4);
    width:90%;
    color:#333;
    margin:5%;
    height:auto;
}
.product .top-text h1{
    color:#333;
    font-size: 3em;
}
.product .mid-text h3{
    line-height: 2em;
}
.product .mid-text{
    padding:30px 30px 30px 45px;
}
.product .mid-text img{
    left:0;
    width:40px;
}
.product .mid-text4{
    padding-bottom: 5em;
}
}
/*----------------------hand.html*/
.hand{ }
.hand-mid{ }
.hand-mid .mid-con{
    width : 960px;height:auto;
    margin: 30px auto;
    overflow:hidden;color:white;
}
.hand-mid .l{
    float:left;
    width: 550px;height:250px;
    background: transparent url('../img/hand-mid.jpg') no-repeat center top;
    background-size: cover;
    padding:6% 1.4em 0 25%;
}
.hand-mid .l .con{
    float:left;overflow:visible;
}
.hand-mid .l .con>div{
    float:right;
    width:auto;
    padding-top: 1.2em;
    padding-left: 2em;
}
.hand-mid .l .con .p1{
    font-size: 2em;
    font-weight: bold;
}
.hand-mid .l .con .p2{
    font-size: 1.5em;
}
.hand-mid .l img{
    width:125px;
}
.hand-mid .r{
    float:left;
    background-color: rgba(224,137,83,1);
    line-height: 3em;
    font-size: 1.5em;
    padding: 5% 4% 6%;
    width: 410px;height:250px;
}
.hand-mid .r .p2{
    line-height: 1.5em;font-size:1em;
}
@media screen and (max-width: 960px){
.hand-mid .mid-con{
    margin:0;width:100%;
}
.hand-mid .l{
    width: 100%;
    padding-left: 4em;
}
.hand-mid .l img{
    width:85px;padding-top: 10px;
}
.hand-mid .r{
    width: 100%;
    padding: 1em 1em 1.5em;
    height:auto;
}
.hand-mid .l .con{
    padding-top: 2em;
}
.hand-mid .l .con>div{
    padding-top: 0;
    padding-left: .5em;
}
}
